body {
    padding: 0;
    margin: 0;
    background-color: black;
    /* background-color: #1d2149; */
    width: 100%;
    height: 100vh;
}

h1, h3 {
    font-family: fantasy;
}

/* containers */

.container {
    margin: 0 auto;
    position: relative;
    background: white url(../images/getout.jpg) center center repeat;
    background-size: cover;
}

.home-pic {
    height: 12rem;
}

.container2 {
    background-color: white;
    max-width: 950px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* navigation bar */

.nav {
    height: 60px;
    margin: 0 auto;
    background-color: transparent;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul li {
    color: white;
    float: right;
}

.button {
    float: left;
    padding: 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 21px 20px;
    text-decoration: none;
    font-family: fantasy;
}

li a:hover {
    background-color: grey;
    color: lightblue;
}

li div {
    width: 28px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}

.hamburgerMenu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 60px 0;
    width: 300px;
    display: none;
    background-color: black;
    transition: all 1s ease-out;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
}

.hamburgerMenu li {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.hamburgerMenu li:hover {
    background-color: grey;
    color: lightblue;
}

/* categories */

.wrapper h5 span {
    padding: 5px;
    font-size: small;
    border-radius: 5px;
}

.filter-list {
    text-align: center;
}

.genres-filter {
    margin: 0 auto;
    width: 12rem;
    height: 7rem;
    border: 1px solid black;
    overflow-y: scroll;
    padding: 10px;
    transition-timing-function: linear;
    transition: all 1s;
    text-align: left;
    border-radius: 5px;
}

/* main-menu */

.moviesMenu {
    display: flex;
    justify-content: center;
}

.moviesMenu h1 {
    display: inline-block;
    text-align: center;
    margin: 20px 5px;
    border: 1px solid grey;
    padding: 10px;
}

/* film-card */

.film-card {
    margin: 2rem 0;
    border-radius: 30px;
    padding: 15px;
    background-color: white;
    width: 90%;
}

img {
    width: 150px;
    border-radius: 25px;
    box-shadow: 1px 1px 2px black, 0 0 25px #010156, 0 0 5px darkblue;
}

h1.title {
    font-family: fantasy;
    font-size: smaller;
}

.card {
    text-align: center;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: white;
    border-radius: 25px;
}

.card .descr {
    border-bottom: 1px solid grey;
}

.cover {
    margin: 0;
    padding: 0;
    width: fit-content;
    border-radius: 25px;
    height: 14rem;
}

.film-card h4 {
    margin: 20px;
    font-size: smaller;
}

.film-card h5 span {
    display: -webkit-inline-box;
    margin: 2px;
}

h1 {
    text-align: center;
    font-size: larger;
}

.tag-red {
    background-color: red;
}

.tag-pink {
    background-color: pink;
}

.tag-green {
    background-color: green;
}

.tag-yellow {
    background-color: yellow;
}

/* filters button */

button {
    background-color: azure;
    border-radius: 7px;
    padding: 6px;
    color: #003f63;
}

button#submit {
    margin: 0;
    display: inline;
}

button#reset {
    margin: 5px 0 20px 0;
}

#filter-form {
    margin: 10px;
}

button#filters, button#close-filters {
    display: inline;
}

button#close-filters {
    display: none;
}

.filter-list {
    margin: 0 auto;
}

.filter-list h3 {
    text-align: center;
}

/* loud button */

button#moreMovies {
    margin-bottom: 20px;
    display: flex;
    margin: 0 auto;
}

#createNewMovie input {
    margin-bottom: 10px;
}

/* [data-isInvisible="false"] {
    display: none;
} */