body {padding: 0; margin: 0; background: white url(images/pexels-.jpg) center center repeat; background-size: cover;
     width: 100%; height: 100vh;}
.container { margin: 0 auto;}
.container2 { background-color: white; max-width: 950px; margin: 0 auto; display: grid; grid-template-columns: 1fr 3fr;}
.nav {height: 60px; margin: 0 auto; background-color: black; display: flex; justify-content: center;}
ul {list-style-type: none; overflow: hidden; display:flex; justify-content: space-around;}
ul li { color: white;}



.wrapper h5 span {background-color: rgb(231, 195, 195);padding: 5px; font-size: small; border-radius: 5px; }
.wrapper h5 span#red {background-color: red;}
.wrapper h5 span#green {background-color: green;}

button {display:block; margin: 0 auto;}
button#submit {margin: 0; display: inline;}
button#reset {margin: 5px 0 20px 0;}
/* [data-isInvisible="false"] {
    display: none;
} */
