body {padding: 0; margin: 0; 
    background: white url(../movieApp/image/main5/pexels-.jpg) center center no-repeat;
    background-size: cover;}

.container { 
    background: transparent;
    max-width: 950px; margin: 0 auto; display: grid; grid-template-columns: 1fr 3fr;}
.nav {max-width: 950px; margin: 0 auto;}
ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden;}
ul li {display: inline-block;}
.wrapper h5 span {background-color: rgb(231, 195, 195);padding: 5px; font-size: small; border-radius: 5px; }
.wrapper h5 span#red {background-color: red;}
.wrapper h5 span#green {background-color: green;}

button {display:block; margin: 0 auto;}
button#submit {margin: 0; display: inline;}
button#reset {margin: 5px 0 20px 0;}
/* [data-isInvisible="false"] {
    display: none;
} */
